@media all and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    width: 100%;
  }

  .navbar .logo {
    padding-left: 20px;
  }
  .navbar .links {
    width: 100%;
    padding-top: 30px;
    padding-right: 50px;
  }
  .navbar .links ul li {
    font-size: 15px;
  }

  .home {
    background-image: url(../img/slider-02.jpg);
  }
  .contanir1 {
    width: 100%;
    display: block;
  }
  .parent {
    border: hidden;
  }
  .img-caption img {
    width: 90%;
  }

  .an {
    width: 90%;
  }

  .child2 {
    width: 90%;
    margin: auto;

    margin-top: 40px;
  }

  .ourserv {
    display: block;
  }
  .ourserv .item {
    width: 100%;
  }
  .port {
    display: block;
  }
  .port .product {
    width: 90%;
  }
  .port .product .ground {
    width: 90%;
    height: 325px;
  }
  .inform {
    height: 600px;
    display: block;
  }
  .inform .slide {
    width: 100%;
    padding-top: 20px;
  }
  .a {
    width: 90%;
    height: 400px;

    margin-left: 20px;
  }
  .clients {
    margin-left: 20px;
    display: block;
    height: 250px;
  }
  .clients img {
    margin-left: 150px;
  }

  .clients .feedback {
    width: 130%;
  }
  .dad {
    display: block;
  }
  .dad .son {
    width: 90%;
    margin: auto;
  }

  .form {
    width: 100%;
  }
  .form .table input {
    width: 100%;
  }
  .form .table .sub input {
    width: 240%;
  }

  .end .copy {
    width: 100%;
  }
}
